<% include header %>
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		
		<!--ajax请求要在头部文件-->
		<script type="text/javascript">
			function loadXMLDoc() {
				//alert('在运行');
				var xmlhttp;
				if(window.XMLHttpRequest) {
					//  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
					xmlhttp = new XMLHttpRequest();
				} else {
					// IE6, IE5 浏览器执行代码
					xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
				}
				xmlhttp.onreadystatechange = function() {
					if(xmlhttp.readyState == 4 && xmlhttp.status == 200) {
						document.getElementById("myDiv").innerHTML = xmlhttp.responseText;
					}
				}
				xmlhttp.open("GET", "/new", true);
				xmlhttp.send();
			}
		</script>
	</head>

	<body>
		<!--flash信息,直接用全局变量，infos 和errors-->
		<%if(infos !=''){%>
		<div class="alert alert-success alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong><%=infos%></strong>
		</div>
		<%}%>

		<%if(errors !=''){%>
		<div class="alert alert-success alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong><%=errors%></strong>
		</div>
		<%}%>

		<h1> my Tasks</h1>
		<%= title%>
		<% var a=1%>
		<%if(docs.length){%>
		<table>
			<tr>
				<th>Task
					<%docs.forEach(function(task){%>
					<tr>
						<td>
							<%=a++%>
							<%=task.task%>
						</td>
						<td>
							<a href="/tasks/<%=task.id%>/edit"><button class="btn btn-primary Edit_btn">Edit</button></a>
						</td>
						<td> </td>
						<td>
							<form method="post" action="/tasks/remove/<%=task.id%>">
								<button class="btn btn-danger Del_btn">Delete</button>
							</form>
						</td>
						<%})%>
					</tr>
				</th>
			</tr>
		</table>
		<%}else{%>
		<p> you don't have any tasks</p>
		<%}%>
		<p>
			<a href="new" class="btn btn-primary">Add a Task</a>
		</p>
		<audio controls="controls">
			<source src="/json"></source>
		</audio>
		<audio controls="controls">
			<source src="/json"></source>
		</audio>

		<div id="myDiv">
			<h2>点击获得AJAX请求的内容</h2>
		</div>
		<button type="button" onclick='loadXMLDoc();'>提交请求</button>
		<br/>
		<br/>
		<div>
		<a href="#">点赞</a>
		</div>
		

		<% include footer%>